@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PT_Sans/PTSans-Regular.ttf') format('truetype');
    font-weight: 400; /* Adjust the weight if needed */
    font-style: normal; /* Adjust the style if needed */
}
